<h2 class="text-center" style="text-decoration: underline; background-color: rgb(115, 233, 213);color:rgb(255, 63, 79);">Update Events</h2>


<form>
<h5>Id</h5>
<div class="form-group">
<input type="text" class="form-control" name="id" [(ngModel)]="addeventsobject.id" readonly="readonly">
</div>

<h5>Date</h5>
<div class="form-group">
<input type="text" class="form-control" name="date" [(ngModel)]="addeventsobject.date">
</div>

<h5>Description</h5>
<div class="form-group">
<input type="text" class="form-control" name="description" [(ngModel)]="addeventsobject.description">
</div>
<h5>Location</h5>
<div class="form-group">
<input type="text" class="form-control" name="loaction" [(ngModel)]="addeventsobject.loaction">
</div>

<h5>Name</h5>
<div class="form-group">
<input type="text" class="form-control" name="name"  [(ngModel)]="addeventsobject.name">
</div>
<br>

<div class="form-group" class="text-center">
<button type="button" class="btn btn-outline-primary btn-lg"(click)="updatedata()">Update Data</button>
</div>



</form>

